hr {
    border-color: midnightblue;
    border-width: 2px;
}

#main{
    padding-left: 16px;
}

#studLife{
    font-size: 60px;
    text-align: center;
    margin-bottom: -5px;

}

#date{
    color: darkblue;
    font-size: 25px;
}

#topArticle{
    left: -16px;
    font-size: 35px;
    visibility: hidden;
    display: none;
}
#topArticle2{
    text-align: center;
    left: -16px;
    font-size: 35px;
    visibility: hidden;
    display: none;
}
#topArticle3{
    left: -16px;
    font-size: 35px;
}

#trendingImage{
    width: 800px;
    height: 400px;
    margin-right: 16px;
}

#trendingImagePosition{
    float: left;
    margin-top: 0px;
}

.descTopic{
    padding-right: 2%;
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

#trendingbreak{
    overflow: visible;
    margin-top: 5%;
}

#discTrending{
    padding-top: 30px;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    list-style-position: inside
}

#buttonConsole{
    visibility: hidden;
    display: none;
}
button{
    position: relative;
    visibility: hidden;
    display: none;
    color: blue

}

.topicImagePosition{
    float: left;
}

.topicImage{
    width: 500px;
    height: 400px;
    margin-right: 16px;
}

.topicTitle{
    padding-right: 2%;
    text-align: center;
    font-size: 2.5vw;
    max-height: 84px;
    overflow-y: auto;
}